@tailwind base;
@tailwind components;
@tailwind utilities;
/* Styles globaux */
body {
  @apply bg-neutral text-gray-800 font-sans;
}

#nprogress .bar {
  background: #f97316; /* Couleur principale */
  height: 6px; /* Hauteur augmentée */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031; /* S'assurer qu'elle est au-dessus des autres éléments */
}

#nprogress .peg {
  box-shadow: 0 0 10px #f97316, 0 0 5px #f97316; /* Effet lumineux */
}

#nprogress .spinner {
  display: none; /* Cache le spinner */
}
